Missing or duplicate data may exist in a data set for a number of different reasons. Sometimes, missing or duplicate data is introduced as we perform cleaning and transformation tasks such as:
<ul>
    <li>Combining data</li>
    <li>Reindexing data</li>
    <li>Reshaping data</li>
    </ul>
    
Other times, it exists in the original data set for reasons such as:
<ul>
    <li>User input error</li>
    <li>Data storage or conversion issues</li>
    </ul>
    
In the case of missing values, they may also exist in the original data set to purposely indicate that data is unavailable.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

wh_2015 = pd.read_csv(r'C:\Users\lumum\Documents\Data Projects\working-with-missing-and-duplicate-data\wh_2015.csv')
wh_2016 = pd.read_csv(r'C:\Users\lumum\Documents\Data Projects\working-with-missing-and-duplicate-data\wh_2016.csv')
wh_2017 = pd.read_csv(r'C:\Users\lumum\Documents\Data Projects\working-with-missing-and-duplicate-data\wh_2017.csv')

In [5]:
shape_2015 = wh_2015.shape

In [6]:
shape_2015

(164, 13)

In [12]:
#use the series.isnull() method to identify rows with missing values.
missing = wh_2015['Happiness Score'].isnull()
#series.isnull() returns a boolean same sized object indicating if valeus are NA .NaN, gets mapped to True values
wh_2015[missing]

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
158,Belize,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
159,Namibia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
160,Puerto Rico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
161,Somalia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
162,Somaliland Region,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
163,South Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015

In [15]:
# when working with bigger data sets, it's easier to get a summary of the missing values as follows:
wh_2017.isnull().sum()

Country                          0
Happiness.Rank                   9
Happiness.Score                  9
Whisker.high                     9
Whisker.low                      9
Economy..GDP.per.Capita.         9
Family                           9
Health..Life.Expectancy.         9
Freedom                          9
Generosity                       9
Trust..Government.Corruption.    9
Dystopia.Residual                9
Year                             0
dtype: int64

I will use the following work flow to clean our missing values, starting from checking for errors:

<ol type= "1">
    <li>Check for errors in data cleaning/transformation.</li>
    <li>Use data from additional sources to fill missing values.</li>
    
    </ol>